<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ title }}</title>
</head>
<body onclick="hello('{{pkg.name }}');">

{{ content | safe }}

<script src="/site.min.js"></script>

</body>
</html>